@import url('../_variables.css');
@import url('../components/NavBar.css');
@import url('../components/SearchBar.css');
@import url('../components/MatchHistory.css');
@import url('../components/Game/Game.css');

input {
    border: none;
    background: none;
    outline: none;
}

.home-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-main-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
