.signup-page {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-form-container {
	z-index: 10;
	position: relative;
	height: 70%;
	width: 30%;
	background: var(--neon-gradiant);
	padding: 3px;
	border-radius: 10px;
}

.signup-form-container-background {
	z-index: 0;
	position: absolute;
	height: 70%;
	width: 30%;
	background: var(--neon-gradiant);
	filter: blur(15px);
}

.signup-page form {
	height: 100%;
	width: 100%;
	border-radius: 7px;
	/*background: var(--component-background-color);*/
	background: rgba(0, 0, 0, 0.85);
}

.signup-page h1 {
	font-size: 5rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 7rem;
}

.signup-page form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.signup-page .form-fields {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 4rem;
	margin-bottom: 7rem;
}

.signup-page .form-fields i {
	position: absolute;
	right: 2rem;
	font-size: 1.5rem;
}

.signup-page .form-fields .input-feedback {
	position: absolute;
	top: 100%;
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

.signup-page form input {
	border-bottom: 2px solid var(--light-grey);
	width: 100%;
	color: var(--text-primary-color);
	font-size: 2rem;
	line-height: 3rem;
	padding-left: 1rem;
	padding-bottom: 0.7rem;
}

.signup-page form input::placeholder {
	color: var(--text-primary-color);
	font-size: 1.8rem;
	opacity: 0.8;
}

.signup-page form button-component {
	margin-top: 1rem;
}


.signup-page p {
	font-size: 1.8rem;
	margin-top: 2rem;
}


.signup-page p a {
	background: linear-gradient(45deg, var(--neon-pink), var(--neon-blue));
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.signup-page p a:hover {
	cursor: pointer;
}