.users-profile-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.users-profile-page nav-bar-component {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}


.users-profile-page .users-profile-container-background {
	/* z-index: 0; */
	position: absolute;
	background: var(--neon-gradiant);
	filter: blur(15px);
	height: 40%;
	width: 40%;
}

.users-profile-content {
	height: 100%;
	width: 100%;
	border-radius: 7px;
}

.users-profile-page .users-profile-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border-radius: 10px;
	width: 40%;
	height: 40%;
}

.users-profile-page .user-info {
	position: relative;
	width: 100%;
	height: 8%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 1.5rem 0;
}

.users-profile-page .user-info p {
	font-weight: 700;
	color: var(--text-primary-color);
	font-size: 1.2rem;
	letter-spacing: 0.2px;
	margin-bottom: 0.2rem;
}

.users-profile-page .user-info input[type="text"],
.users-profile-page .user-info input[type="email"] {
	width: 100%;
	height: 70%;
	font-size: 1.7rem;
	border-radius: 5px;
	border: 1px solid var(--light-grey);
	color: var(--text-primary-color);
	padding-left: 1rem;
	padding-right: 3.5rem;
	padding-top: 0.1rem;
}

.users-profile-page .user-info i {
	position: absolute;
	color: var(--light-grey);
	font-size: 1.7rem;
	right: 3%;
	top: 52.8%;
	cursor: pointer;
}

.users-profile-page .user-info-image {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 18rem;
	width: 100%;
}

.users-profile-page .user-info-image > img {
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
	border: 2px solid var(--light-grey);
}