@media (max-width: 1500px) {
	:root {
		font-size: 40%;
	}
}

@media (min-width: 1500px) and (max-width: 1920px) {
	:root {
		font-size: 50%;
	}
}

@media (min-width: 1921px) and (max-width: 2560px) {
	:root {
		font-size: 75%;
	}
}

@media (min-width: 2561px){
	:root {
		font-size: 100%;
	}
}