@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './views/home.css';
@import './views/login.css';
@import './views/signup.css';
@import './views/profile.css';
@import './views/change-password.css';
@import './views/two-factor-app.css';
@import './views/two-factor-email.css';
@import './views/two-factor-verify.css';
@import './views/two-factor-deactivation.css';
@import './_variables.css';

:root {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--component-background-color) inset;
    -webkit-text-fill-color: var(--text-primary-color);
    caret-color: var(--text-primary-color);
}

a {
    text-decoration: none;
    color: var(--text-primary-color);
}

.component {
    display: block;
}

/* HOME */

main {
    height: 100vh;
    width: 100vw;
}