.bottom-nav-contacts {
    position: absolute;
    align-items: center;
    cursor: pointer;
    display: flex;
    bottom: 0;
    right: 2.5rem;
    margin-right: 4rem;
    margin-bottom: 1.25rem;
    z-index: 3;
}

.bottom-nav-contacts p {
    font-size: medium;
    margin-right: 1rem;
    color: white;
}

.bottom-nav-contacts #contact-icon {
    display: flex;
}

.bottom-nav-contacts img {
    width: 3.5rem;
	height: 3.5rem;
}

.bottom-nav-contacts #bottom-nav-chat-icon {
    width: 3rem;
	height: 3rem;
    margin-left: 1rem;
}

