@import './ContactList.css';
@import './TopBarContact.css';

.contact-menu {
    position: absolute;
    height: 90%;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    background-color: var(--background-color);
}