 /* ------------>>> main menu style section <<<------------*/

.contact-list-menu {
    position: relative;
    margin-top: 1rem;
    height: calc(5 * 7rem + 2 * 2.5rem);
    overflow-y: auto;
    border-top: 1px solid var(--neon-blue);
    padding-top: 1rem;
    /* scrollbar-gutter: stable; */
}

.contact-list-menu > ul {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

 /* ------------>>> title display section <<<------------*/

 .contact-list-menu p:not(ul p) {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

 /* ------------>>> contact list display section <<<------------*/

.contact-list-menu li {
    width: 100%;
    /* padding: 0 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    cursor: pointer;
}

.contact-list-menu .contact-menu-info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact-list-menu .contact-menu-info p:first-child {
    font-weight:600;
    font-size: 1.7rem;
}

 /* ------------>>> Status circle section <<<------------*/

.status-circle {
    position: absolute;
    left: 4.6rem;
    top: 4.1rem;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
}

.online-status-circle {
    background-color: #3AA0B7;
    border: 2px solid #121216;
}

.offline-status-circle {
    background-color: gray;
    border: 2px solid #121216;
}

.away-status-circle {
    background-color: rgb(184, 151, 60);
    border: 2px solid #121216;
}

 /* ------------>>> Online contact section <<<------------*/

 .contact-list-menu .online-contact-status p:last-child {
    color: #3AA0B7;
    font-style: italic;
    font-size: 1.3rem;
}

.contact-list-menu .online-contact-status:hover {
    box-shadow: 0 0 2px rgba(41, 133, 141, 0.81);
    background-color: rgba(6, 35, 38, 0.81);
}

 /* ------------>>> Away contact section <<<------------*/

 .contact-list-menu .away-contact-status p:last-child {
    color: rgb(184, 151, 60);
    font-style: italic;
    font-size: 1.3rem;
}

.contact-list-menu .away-contact-status:hover {
    box-shadow: 0 0 2px rgb(184, 151, 60);
    background-color: rgba(25, 25, 25, 0.81);
}

 /* ------------>>> Offline contact section <<<------------*/

/* .contact-list-menu .offline-contact-status p:first-child{
    color: gray;
} */

.contact-list-menu .offline-contact-status p:last-child {
    color: gray;
    font-style: italic;
    font-size: 1.3rem;
}

.contact-list-menu .offline-contact-status:hover {
    box-shadow: 0 0 2px gray;
    background-color: rgba(25, 25, 25, 0.81);
}

 /* ------------>>> no contact to display section <<<------------*/

.no-contacts {
    color: var(--light-grey);
    margin-left: 2rem;
}

 /* ------------>>> contact picture <<<------------*/

 .contact-list-menu .contact-menu-picture img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
	border: 1px solid var(--light-grey);
}

.contact-list-menu .contact-menu-picture {
    /* margin-left: 1rem; */
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
	height: 5rem;
}

.contact-list-menu .contact-menu-picture img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
	border: 1px solid var(--light-grey);
}

 /* ------------>>> contact action <<<------------*/

.contact-action-menu i {
    padding-left: 3rem;
    font-size: 2.5rem;
}
 
.contact-action-menu .contact-action-disabled {
    cursor: default;
    color: var(--light-grey);
}

 .contact-action-menu .contact-action-disabled:hover {
     background: rgba(25, 25, 25, 0.81);
 }

.contact-action-list {
	border: 1px solid var(--light-grey);
    background-color: #171820;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 1rem;
    height: auto;
    z-index: 3;
}

.contact-action-list hr {
    border: none;
    height: 1px;
    background-color: var(--light-grey);
	width: 100%;
}

.contact-action-list li {
    height: 3.5rem;
    padding: 0 0.5rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.contact-action-list li:hover {
    box-shadow: 0 0 2px gray;
    background-color: rgba(67, 67, 67, 0.81);
}

 /* ------------>>> contact icon <<<------------*/

.contact-list-menu .contact-menu-request-icon {
    /* margin-right: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}


.contact-list-menu .contact-menu-request-icon i {
    font-size: 3.2rem;
    text-align: center;
    width: 50%;
    transition: shadow 1s;
}

.contact-list-menu .contact-menu-request-icon i:hover {
    cursor: pointer;
}

.contact-list-menu .contact-menu-request-icon .fa-xmark {
    color: #AC1AA4;
}

.contact-list-menu .contact-menu-request-icon .fa-xmark:hover {
    animation: change-xmark-color linear 0.12s forwards;
    color: var(--neon-pink);
}

.contact-list-menu .contact-menu-request-icon .fa-check {
    color: #3AA0B7;
}

.contact-list-menu .contact-menu-request-icon .fa-check:hover {
    animation: change-check-color linear 0.12s forwards;
    color: var(--neon-blue);
}

@keyframes change-xmark-color {
    from {
        font-size: 3.2rem;
        color: #AC1AA4;
    }
    to {
        font-size: 3.4rem;
        color: var(--neon-pink);
    }
}

@keyframes change-check-color {
    from {
        font-size: 3.2rem;
        color: #3AA0B7;
    }
    to {
        font-size: 3.4rem;
        color: var(--neon-blue);
    }
}
