.contact-list-menu {
    position: relative;
    margin-top: 1rem;
}

.no-contacts {
    color: var(--light-grey);
    margin-left: 2rem;
}

.contact-list-menu p:not(ul p) {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.contact-list-menu ul {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.contact-list-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    border-bottom: 1px solid var(--light-grey);
}

.contact-list-menu li:hover {
    box-shadow: 0 0 5px var(--light-grey);
}

.contact-list-menu li:last-child {
    border-bottom: none;
}

.contact-list-menu ul p {
    font-size: 1.3rem;
    order: 2;
    text-align: center;
}

.contact-list-menu .contact-menu-picture {
    margin-left: 1rem;
	height: 5rem;
    border-radius: 50%;
    order: 1;
	border: 1px solid var(--light-grey);
}

.contact-list-menu .contact-menu-request-icon {
    margin-right: 1rem;
	height: 2.5rem;
    order: 4;
    border-radius: 50%;
    transition: stroke 0.15s;
    cursor: pointer;
}

.contact-list-menu .contact-menu-request-icon-bis {
    margin-left: 12rem;
	height: 2.5rem;
    order: 3;
    border-radius: 50%;
    cursor: pointer;
}