contact-menu-search-bar {
	display: inline-block;
	margin: 1rem 0 1rem 0;
	width: 100%;
	height: 5rem;
	position: relative;
	background-color: #2a2d3b;
	box-shadow: 0 8px 8px -4px #0B0B0B, 0 -8px 8px -4px #0B0B0B;
}

contact-menu-search-bar p {
	position: absolute;
	top: 1.2rem;
	left: 1rem;
	font-size: 1.7rem;
	font-weight: bold;
	transition: opacity 0.2s ease
}

contact-menu-search-bar p.inactive {
	opacity: 0;
	transition: opacity 0.2s ease
}
.search-box {
	background-color: var(--contact-background-color);
	border-radius: 2px;
	position: absolute;
	top: 0.5rem;
	height: 80%;
	right: 4.8rem;
	max-width: 45%;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.search-box:hover, .search-box.hover {
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

.search-box.active{
	opacity: 1;
	max-width: 82%;
	transition: max-width 0.2s ease-in;
	box-shadow: inset 2px 2px #0B0B0B;
}

#search-contact-input {
	height: 100%;
	color: var(--light-grey);
	visibility: hidden;
}

#search-contact-input.active {
	width: 90%;
	transform: translateX(15%);
	visibility: visible;
}

#add-friend-icon {
	width: 3rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: transform 0.2s ease;
}

#add-friend-icon:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.2s ease;
}

#search-bar-icon {
	width: 2rem;
	position: absolute;
	top: 1.5rem;
	right: 5.5rem;
	transition: all 0.2s ease;
}

#search-bar-icon:hover {
	opacity: 0.8;
}

#search-bar-icon.active {
	transform: translateX(-1050%);
	opacity: 0.5;
	transition: all 0.2s ease;
	animation: fadeInOut 0.2s ease;
}

#search-bar-icon:hover {
	cursor: pointer;
}

#search-bar-close-btn {
	font-size: 2rem;
	color: lightgray;
	position: absolute;
	top: 1.5rem;
	right: 6rem;
	cursor: pointer;
	visibility: hidden;
	opacity: 0.5;
}

#search-bar-close-btn.active {
	visibility: visible;
	transition: opacity 0.2s ease;
}

#search-bar-close-btn.active:hover {
	opacity: 1;
	transition: opacity 0.2s ease;
}

@keyframes fadeInOut {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}
