@import './BottomNavContact.css';
@import 'ContactComponent.css';

contact-menu-component {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /*z-index: -1;*/
}

.full-border {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.partial-border {
    border-left: 1px solid var(--light-grey);
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact-menu {
    z-index: 3;
    position: absolute;
    height: 46.8rem;
    width: 30rem;
    right: 0;
    bottom: 5.4rem;
    background-color: var(--background-color);
    /*background-color: var(--component-background-color);*/
}