@import './GameTopBar.css';
@import './states/matchmakingChoice.css';
@import './states/inGame.css';
@import './states/tournamentHome/tournamentHome.css';
@import './states/onlineHome/onlineHome.css';
@import './states/localHome/localHome.css';
@import './inactivityPopUp.css'; /* pop Up to move in Pop up folders when created */
@import './matchmakingSearchPopUp.css'; /* pop Up to move in Pop up folders when created */
@import './EmotesComponent.css';



game-component {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 140rem;
    height: calc((140rem * 63) / 100);
    padding: 3px;
    border-radius: 10px;
    flex-shrink: 0;
    max-width: 100%;
}

game-component .states-container * {
    z-index: 2;
}

game-component .game-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: blur(15px);
}

game-component .states-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: var(--component-background-color);
    /*padding: 3px;*/
    z-index: 1;
}

.left-player-paddle, .right-player-paddle {
    position: absolute;
    top: calc(50% - 15% / 2);
    filter: blur(4px);
    height: 15%;
    width: 1rem;
    border-radius: 10px;
    z-index: 1;
}

.left-player-paddle {
    left: 4rem;
    background: var(--neon-blue);
}

.right-player-paddle {
    right: 4rem;
    background: var(--neon-pink);
}

.middle-line {
    position: absolute;
    top: 3px;
    left: 50%;
    filter: blur(2.5px);
    height: calc(100% - 6px);
    width: 0.2rem;
    background: linear-gradient(180deg, var(--neon-pink), var(--neon-blue));
    z-index: 1;
}


/* ----------------- GAME TEST COMPONENT ----------------- */


game-test-component {
    height: 100%;
    width: 100%;
}

canvas {
    position: relative;
    border-radius: 7px;
    height: 100%;
    width: 100%;
    background: var(--component-background-color);
}

.player1, .player2 {
    position: absolute;
}

.player1 {
    top: 15px;
    left: 15px;
}

.player2 {
    top: 15px;
    right: 15px;
}


@media (max-width: 1310px) {
    .extended-game {
        position: absolute;
        width: 95vw;
        height: calc((100vw / 100) * 63);
        transition: height 0.2s linear, width 0.2s linear;
        animation: move-game-to-center 0.2s linear forwards;
    }
    @keyframes move-game-to-center {
        0% {
            top: 10rem;
        }
        100% {
            top: 50%;
            transform: translateY(-67%);
        }
    }
    .reduced-game {
        position: absolute;
        transition: height 0.2s linear, width 0.2s linear;
        animation: move-game-to-left 0.2s linear forwards;
    }

    @keyframes move-game-to-left {
        0% {
            top: 50%;
            transform: translateY(-67%);
        }
        100% {
            top: 10rem;
        }

    }
}

@media (min-width: 1311px) {
    .extended-game {
        position: absolute;
        width: calc((95vh * 100) / 63);
        height: 95vh;
        transition: height 0.2s linear, width 0.2s linear;
        animation: move-game-to-center 0.2s linear forwards;
    }

    @keyframes move-game-to-center {
        0% {
            top: 25rem;
            left: 10rem;
        }
        100% {
            top: 2.5vh;
            left: calc(calc(100% - (95vh * 100) / 63) / 2);
        }
    }
    .reduced-game {
        position: absolute;
        transition: height 0.2s linear, width 0.2s linear;
        animation: move-game-to-left 0.2s linear forwards;
    }

    @keyframes move-game-to-left {
        0% {
            top: 2.5vh;
            left: calc(calc(100% - (95vh * 100) / 63) / 2);
        }
        100% {
            top: 25rem;
            left: 10rem;
        }

    }
}