player-in-bracket {
    position: relative;
    width: 22.4%;
    height: 3%;
    display: flex;
    padding: 1px;
    font-size: 1em;
}

.right-players {
    flex-direction: row-reverse;
}

player-in-bracket .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: var(--component-background-color);
}

player-in-bracket .player-name p {
    font-size: 1.5rem;
    white-space: nowrap;
}

player-in-bracket .player-name .overflow-name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

player-in-bracket .score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

player-in-bracket .score p {
    font-size: 1.8rem;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black, 0 1px 5px black;
}

/* Player himself */

.player-in-bracket-himself {
    background: linear-gradient(0deg, var(--neon-pink), var(--neon-blue));
}

.player-in-bracket-himself {
    background: linear-gradient(0deg, var(--neon-pink), var(--neon-blue));
}

/* Game win style */

.player-in-bracket-game-win {
    background: var(--neon-blue);
}

.player-in-bracket-game-win .score-game-win {
    background: var(--neon-blue);
}

/* Tournament win style */

.player-in-bracket-tournament-win {
    background: #FFD700;
}

.player-in-bracket-tournament-win .score-tournament-win {
    background: #FFD700;
}

/* Basic style */

.player-in-bracket-basic {
    opacity: 1;
    background: var(--light-grey);
}

.player-in-bracket-basic .score-basic {
    background: var(--light-grey);
}

/* TBD style */

.player-in-bracket-tbd {
    opacity: 1;
    background: var(--light-grey);
}

.player-in-bracket-tbd .score {
    display: none;
}

.player-in-bracket-tbd .player-name {
    /*display: none;*/
    width: 100%;
}

.player-in-bracket-tbd .player-name {
    font-style: italic;
    font-weight: 700;
}

.player-in-bracket-tbd .score-tbd {
    background: var(--light-grey);
}

/* Loose style */

.player-in-bracket-loose {
    opacity: 0.5;
    background: var(--light-grey);
}

.player-in-bracket-loose .score-loose {
    background: var(--light-grey);
}