game-top-bar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 8%;
	padding-top: 1.8rem;
	width: calc(100% - 6px);
	right: 3px;
	top: 3px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), transparent);
	border-radius: 7px 7px 0 0;
	z-index: 1;
}

game-top-bar .top-bar-options {
	height: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

game-top-bar img {
	height: 2.5rem;
}

game-top-bar .back-button {
	height: 100%;
	display: flex;
	visibility: hidden;
	margin-left: 2.5rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

game-top-bar .back-button p {
	font-size: 1.8rem;
	margin-left: 0.5rem;
}

game-top-bar .back-button:hover {
	cursor: pointer;
}

game-top-bar .back-button:hover img {
	height: 2.8rem;
}

game-top-bar .back-button:hover p {
	font-size: 1.9rem;
}

game-top-bar .game-settings {
	margin-right: 2.5rem;
	width: 9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


game-top-bar .game-settings .emotes-choice-button {
	height: 3.2rem;
	margin-bottom: 5px;
}

game-top-bar .game-settings .emotes-choice-button:hover {
	height: 3.4rem;
	cursor: pointer;
}

game-top-bar .game-settings .reduce-game-button {
	height: 4rem;
	display: none;
}

game-top-bar .game-settings .reduce-game-button:hover {
	cursor: pointer;
	height: 4.2rem;
}

game-top-bar .game-settings .extend-game-button:hover {
	cursor: pointer;
	height: 2.7rem;
}

game-top-bar .increase-game-top-bar-button {
	display: none;
	position: relative;
}

game-top-bar emotes-component {
	visibility: hidden;
}

.in-game-top-bar {
	height: 0;
	padding-top: 0;
}

.in-game-top-bar .back-button {
	visibility: hidden !important;
}

.in-game-top-bar .game-settings emotes-component {
	visibility: hidden;
}

.in-game-top-bar .game-settings .reduce-game-button {
	visibility: hidden;
}

.in-game-top-bar .game-settings .extend-game-button {
	visibility: hidden;
}

.in-game-top-bar .increase-game-top-bar-button {
	position: absolute;
	height: 6rem;
	cursor: pointer;
	display: inline-block;
	right: 1rem;
	top: 0.3rem;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

@keyframes increase-top-bar-size {
	from {
		height: 0;
		padding-top: 0;
	}
	to {
		height: 8%;
		padding-top: 1.8rem;
	}
}

@keyframes decrease-top-bar-size {
	from {
		height: 8%;
		padding-top: 1.8rem;
	}
	to {
		height: 0;
		padding-top: 0;
	}
}

