button-component button {
	background: none;
	color: var(--text-primary-color);
	cursor: pointer;
}

button-component .generic-btn {
	border: 1px solid var(--neon-blue);
	color: var(--neon-blue);
	border-radius: 5px;
	font-size: 2rem;
	padding: 0 1.5rem;
}

button-component .generic-btn-cancel {
	border: 1px solid var(--error-color);
	color: var(--error-color);
	border-radius: 5px;
	font-size: 2rem;
	padding: 0 1.5rem;
	/*display: none;*/
}

button-component .generic-btn-disabled {
	border: 1px solid var(--light-grey);
	color: var(--light-grey);
	border-radius: 5px;
	font-size: 2rem;
	padding: 0 1.5rem;
	cursor: initial;
}

/* Auth btn (login, signup, ...) */

button-component .login-nav-bar-btn {
	background: var(--background-color);
	border: none;
	color: var(--neon-blue);
	border-radius: 5px;
	font-size: 2.2rem;
	padding: 0.1rem 2rem;
}

button-component .signup-nav-bar-btn {
	width: 100%;
	border: none;
	border-radius: 4px;
	background: black;
	font-size: 2.2rem;
	padding: 0.1rem 2rem;
}

.login-nav-bar-btn .button-background {
	padding: 1px;
	background: var(--neon-blue);
	border-radius: 5px;
}

button-component .generic-auth-btn {
	width: 100%;
	border: none;
	border-radius: 4px;
	color: var(--text-primary-color);
	background: var(--component-background-color);
	font-size: 2.2rem;
	padding: 0.1rem 2rem;
}

button-component .generic-auth-btn-disabled {
	width: 100%;
	border: none;
	border-radius: 4px;
	color: var(--light-grey);
	background: var(--component-background-color);
	font-size: 2.2rem;
	padding: 0.1rem 2rem;
	cursor: initial;
}

button-component .button-background:hover .generic-auth-btn, button-component .button-background:hover .signup-nav-bar-btn {
	background: rgba(0, 0, 0, 0.8);
}

button-component .button-background:hover .login-nav-bar-btn {
	background: rgba(0, 0, 0, 0.85);

}

.generic-auth-btn .button-background, .signup-nav-bar-btn .button-background {
	padding: 1px;
	background: linear-gradient(0, var(--neon-pink), var(--neon-blue));
	border-radius: 5px;
}

.generic-auth-btn-disabled .button-background {
	padding: 1px;
	background: var(--light-grey);
	border-radius: 5px;
	cursor: initial;
}

/* style for oauth button */

.o-auth-btn .button-background {
	position: relative;
	border-radius: 6px;
	cursor: initial;
	background: linear-gradient(0, var(--neon-pink), var(--neon-blue));
	padding: 1px;
}

button-component .o-auth-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: var(--text-primary-color);
	font-size: 2.2rem;
}

#oauth42LoginBtn button,
#oauthGoogleLoginBtn button,
#oauthGithubLoginBtn button {
	height: 6rem;
	width: 6rem;
	border-radius: 6px;
	background-color: rgba(30, 32, 43, 1);
	background-size: 75%;
	background-position: center center;
	background-repeat: no-repeat;
}

#oauth42LoginBtn button {
	background-image: url("../../assets/logo_42.png");
}

#oauthGoogleLoginBtn button {
	background-image: url("../../assets/logo_google.png");
}

#oauthGithubLoginBtn button {
	background-image: url("../../assets/logo_github.png");
}

/* Player number */

.player-number-active .button-background {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	padding: 1px;
	background: linear-gradient(0, var(--neon-pink), var(--neon-blue));
	border-radius: 5px;
}

.player-number-active {
	width: 100%;
	height: 100%;
	border: none;
	color: var(--text-primary-color);
	background: var(--component-background-color);
	border-radius: 4px;
	font-size: 2rem;
}

button-component .player-number-inactive {
	justify-content: center;
	width: 5rem;
	border: 1px solid var(--light-grey);
	color: var(--light-grey);
	border-radius: 5px;
	font-size: 2rem;
}

/* Score to win */

.score-to-win-active .button-background {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	padding: 1px;
	background: linear-gradient(0, var(--neon-pink), var(--neon-blue));
	border-radius: 5px;
}

button-component .score-to-win-active {
	width: 100%;
	height: 100%;
	border: none;
	color: var(--text-primary-color);
	background: var(--component-background-color);
	border-radius: 4px;
	font-size: 1.5rem;
}

button-component .score-to-win-inactive {
	justify-content: center;
	width: 4rem;
	border: 1px solid var(--light-grey);
	color: var(--light-grey);
	border-radius: 5px;
	font-size: 1.5rem;
}
