@import './ChooseLanguageComponent.css';
@import './SearchBar.css';
@import "./NotificationComponent.css";

nav-bar-component {
    height: 8vh;
    z-index: 3;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: var(--neon-gradiant) 30;
    background: var(--background-color);
    padding: 0 8rem;
}

nav .nav-bar-link {
    font-size: 3rem;
    cursor: pointer;
}

nav .nav-bar-section {
    display: flex;
    align-items: center;
}

nav .nav-bar-section > * {
    margin: 0 20px;
}

nav .account-infos {
    display: flex;
    align-items: center;
}

nav .account-infos button-component[label='login'] {
    margin-right: 3rem;
}

nav .nav-bar-left-section .logo {
    background-image: url("../../assets/logo.svg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    cursor: pointer;
}

nav .nav-bar-right-section p {
    font-size: 2rem;
    cursor: pointer;
}

nav .nav-bar-right-section .profile-picture {
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    margin-left: 3rem;
    border: 2px solid var(--light-grey);
    cursor: pointer;
}