user-profile-send-message-btn {
	display: flex;
	width: 15rem;
	height: 5rem;
	background-color: var(--neon-blue);
	text-wrap: nowrap;
	color: black;
	font-size: 1.5rem;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
}

user-profile-send-message-btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

user-profile-send-message-btn i {
	font-size: 2rem;
	transform: translateY(15%);
}
