@import './ChatMainMenu.css';
@import './ChatSearchBar.css';
@import './ChatContactContainer.css';
@import './ChatContactComponent.css';
@import './ChatRoomTopBar.css';
@import './ChatRoomBottomBar.css';
@import './ChatRoomConversation.css';
@import './ChatMessageComponent.css';

chat-component {
	position: absolute;
	bottom: 7px;
	right: 10px;
	z-index: 4;
	width: fit-content;
}

chat-component .chat-icon {
	width: 3rem;
	cursor: pointer;
}
