@import './ChatMainMenu.css';
@import './ChatSearchBar.css';
@import './ChatContactContainer.css';
@import './ChatContactComponent.css';
@import './ChatRoomTopBar.css';
@import './ChatRoomBottomBar.css';
@import './ChatRoomConversation.css';
@import './ChatMessageComponent.css';

chat-component {
	position: absolute;
	bottom: 7px;
	right: 10px;
	z-index: 3;
	width: fit-content;
}

chat-component .chat-icon {
	width: 3rem;
	cursor: pointer;
}

chat-component .chat-unread-message-notif {
	display: none;
}

chat-component .chat-unread-message-notif.active {
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	background-color: orange;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(30%, -30%);
	animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}
