@import '../ToggleButtonComponent.css';

security-component {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
}

security-component .title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 100%;
	background: var(--background-color);
	font-size: 2.2rem;
	font-weight: bold;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

security-component .information-sentence {
	font-size: 1.5rem;
	margin-top: 1rem;
	text-align: center;
	padding: 0 1rem;
}

security-component .feedbackInformation {
	position: absolute;
	color: #32CD32;
	font-size: 1.5rem;
}

security-component #twoFactorFeedback {
	top: 59.5%;
}

security-component #passwordFeedback {
	top: 91%;
}

/* Two factor container */

security-component .two-factor-container > * {
	width: 100%;
}

security-component .two-factor-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 45%;
	background: var(--component-background-color);
	border-radius: 5px;
	border: 1px solid #333;
}


security-component .two-factor-container > hr {
	margin: 2.5rem 0;
	width: 80%;
}

security-component .two-factor-type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70% ;
}

security-component .two-factor-type p {
	font-size: 1.8rem;
	font-weight: bold;
}

/* Change password container */

security-component .change-password-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 25%;
	background: var(--component-background-color);
	border-radius: 5px;
	border: 1px solid #333;
}

security-component .change-password-container button-component {
	margin-top: 1.4rem;
}

/*.two-factor-infos {*/
/*	width: 80%;*/
/*	display: flex;*/
/*	justify-content: space-between;*/
/*	align-items: center;*/
/*}*/

/*security-component .two-factor-container .two-factor-email {*/
/*	margin-left: 3rem;*/
/*	height: 42%;*/
/*}*/

/*security-component .two-factor-container .two-factor-app {*/
/*	height: 42%;*/
/*}*/

/*security-component .two-factor-container .two-factor-email .two-factor-infos > p {*/
/*	font-size: 1.7rem;*/
/*	font-weight: 500;*/
/*}*/

/*security-component .two-factor-container .two-factor-app .two-factor-infos > p {*/
/*	font-size: 1.7rem;*/
/*	font-weight: 500;*/
/*}*/

/*security-component .two-factor-container .two-factor-status {*/
/*	display: flex;*/
/*	align-items: center;*/
/*}*/

/*security-component .two-factor-container .two-factor-status p {*/
/*	font-size: 1.2rem;*/
/*}*/

/*security-component .two-factor-container .active-2fa {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	width: 1.5rem;*/
/*	height: 1.5rem;*/
/*	border-radius: 50%;*/
/*	background: green;*/
/*	margin-right: 0.2rem;*/
/*}*/

/*security-component .two-factor-container .inactive-2fa {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	width: 1.5rem;*/
/*	height: 1.5rem;*/
/*	border-radius: 50%;*/
/*	background: red;*/
/*	font-size: 1.2rem;*/
/*	margin-right: 0.2rem;*/
/*}*/