@import '../../_variables.css';
@import './states/matchmakingChoice.css';

game-component {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 140rem;
    height: 90rem;
    padding: 3px;
    border-radius: 10px;
}

.game-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: blur(15px);
    z-index: -1;
}

.states-container {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: var(--component-background-color);
    padding: 3px;
}

.states-container > * {
    z-index: 2;
}

/*.opacity-foreground {*/
/*    position: absolute;*/
/*    left: 3px;*/
/*    top: 3px;*/
/*    width: calc(100% - 6px);*/
/*    height: calc(100% - 6px);*/
/*    border-radius: 7px;*/
/*    background: black;*/
/*    opacity: 0.5;*/
/*    z-index: 1;*/
/*}*/

.left-player-paddle, .right-player-paddle {
    position: absolute;
    filter: blur(4px);
    height: 13rem;
    width: 1rem;
    border-radius: 10px;
}

.left-player-paddle {
    left: 4rem;
    background: var(--neon-blue);
}

.right-player-paddle {
    right: 4rem;
    background: var(--neon-pink);
}

.middle-line {
    position: absolute;
    top: 3px;
    filter: blur(2.5px);
    height: calc(100% - 6px);
    width: 0.2rem;
    background: linear-gradient(180deg, var(--neon-pink), var(--neon-blue));
}
