@import '../components/NavBarComponent.css';
@import '../components/SearchBarComponent.css';
@import '../components/MatchHistory.css';
@import '../components/ButtonComponent.css';
@import '../components/Game/Game.css';
@import '../components/Contacts/ContactMenuComponent.css';

input {
    border: none;
    background: none;
    outline: none;
}

.home-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-main-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game-fullscreen-background {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}

@keyframes component-apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}