@import '../components/Friendship/FriendButtonComponent.css';
@import '../components/Friendship/AddFriendButton.css';
@import '../components/Friendship/RemoveFriendButton.css';
@import '../components/Friendship/CancelFriendButton.css';
@import '../components/Friendship/AcceptFriendButton.css';
@import '../components/Friendship/DeclineFriendButton.css';
@import '../components/UserProfileSendMessageBtn.css';

.users-profile-page {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.users-profile-page .users-profile-container {
	position: relative;
	height: 75rem;
	width: 100rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border-radius: 10px;
}

.users-profile-page nav-bar-component {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}


.users-profile-page .users-profile-container-background {
	position: absolute;
	background: var(--neon-gradiant);
	filter: blur(15px);
	height: 75rem;
	width: 100rem;
}

.users-profile-content {
	height: 100%;
	width: 100%;
	border-radius: 7px;
	z-index: 3;
}

.users-profile-page .user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40%;
	width: 100%;
}

.users-profile-page .user-info .username {
	text-align: center;
	font-size: 2.2rem;
	font-weight: 700;
	margin-top: 1rem;
	color: var(--text-primary-color);
}

.users-profile-page .user-info > img {
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
	border: 2px solid var(--light-grey);
}

/*.users-profile-page .user-info i {*/
/*	position: absolute;*/
/*	color: var(--light-grey);*/
/*	font-size: 1.7rem;*/
/*	right: 3%;*/
/*	top: 52.8%;*/
/*	cursor: pointer;*/
/*}*/

friendship-button-component {
	position: absolute;
	left: 70%;
	top: 11%;
}

user-profile-send-message-btn {
	position: absolute;
	left: 70%;
	top: 19%;
	/*display: none;*/
}


.users-profile-page .rank-infos {
	width: 40%;
	display: flex;
	justify-content: center;
	margin-left: 10rem;
	align-items: center;
}

.users-profile-page .user-stats {
	display: flex;
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.users-profile-page .game-infos {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.users-profile-page .game-infos > * {
	width: 40%;
}

.users-profile-page .game-infos .info {
	margin: 3rem 0;
	width: 100%;
}

.users-profile-page .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.users-profile-page .info > p {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	font-size: 2.2rem;
	font-weight: bold;
	color: var(--text-primary-color);
}

.users-profile-page .info .number-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11rem;
	height: 7rem;
	border: 1px solid var(--text-primary-color);
	border-radius: 7px;
}

.users-profile-page .info .number-container p {
	font-size: 3rem;
	font-weight: bold;
	color: var(--text-primary-color);
}