nav-bar-component {
    height: 8vh;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: var(--neon-gradiant) 30;
    padding: 0 8rem;
}

nav .nav-bar-link {
    font-size: 3rem;
}

nav .nav-bar-section {
    display: flex;
    align-items: center;
}

nav .nav-bar-section > * {
    margin: 0 20px;
}

nav .account-infos {
    display: flex;
    align-items: center;
}

nav .account-infos button-component[label='Login'] {
    margin-right: 3rem;
}

nav .nav-bar-left-section .logo {
    background-image: url("../../assets/logo.svg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

nav .nav-bar-right-section p {
    font-size: 2rem;
}

nav .nav-bar-right-section .profile-picture {
    /*background-image: url("../../assets/acarlott.jpg");*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-left: 3rem;
}