#password-feedback {
	display: none;
}

#password-feedback.active {
	display: block;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 5px;
}

#password-feedback h4 {
	margin: 10px 0;
}

#password-feedback ul {
	margin: 0 0 10 0;
	list-style-type: none;
	padding-left: 20px;
}

#password-feedback .list-item {
	font-size: small;
	width: 100%;
	opacity: 0.5;
}

#password-feedback .list-item span {
	margin-left: 10px;
}

#password-feedback .list-item.valid {
	opacity: 1;
	color: #32CD32;
}
