profile-component {
	position: relative;
	/*height: 70%;*/
	height: 78rem;
	width: 130rem;
	/*width: 50%;*/
	border-radius: 10px;
	padding: 3px;
}

.profile-component-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	filter: blur(15px);
	z-index: -1;
}

.profile-component-content {
	height: 100%;
	width: 100%;
	border-radius: 7px;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-component-content .profile-picture {
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	margin-bottom: 3rem;
}

.profile-component-content .user-infos-container {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-component-content .user-infos-container .user-info {
	position: relative;
	width: 100%;
	height: 8%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 1.5rem 0;
}

.profile-component-content .user-infos-container .user-info p {
	font-weight: 700;
	color: var(--text-primary-color);
	font-size: 1.2rem;
	letter-spacing: 0.2px;
}

.profile-component-content .user-infos-container .user-info input[type="text"],
.profile-component-content .user-infos-container .user-info input[type="email"] {
	width: 100%;
	height: 55%;
	font-size: 1.5rem;
	border-radius: 5px;
	border: 1px solid var(--light-grey);
	color: var(--text-primary-color);
	padding-left: 1rem;
	padding-right: 3.5rem;
}

.profile-component-content .user-infos-container .user-info i {
	position: absolute;
	color: var(--light-grey);
	font-size: 1.7rem;
	right: 3%;
	top: 55%;
	cursor: pointer;
}

.profile-component-content .user-infos-container .user-info-image {
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-between;*/
	justify-content: center;
	height: 18rem;
	width: 100%;
}

.profile-component-content .user-infos-container input[type="file"] {
	display: none;
}

.profile-component-content .user-infos-container .user-info-image > img {
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
	border: 2px solid var(--light-grey);
}

.profile-component-content .user-infos-container .user-info .input-feedback {
	position: absolute;
	top: 100%;
	font-size: 1.5rem;
}

.profile-component-content .user-infos-container button-component {
	margin-top: 5rem;
}

.profile-component-content .user-infos-container #genericErrorFeedback {
	position: absolute;
	top: 82%;
	font-size: 1.5rem;
	color: red;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image {
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	cursor: pointer;
	border: 1px solid var(--light-grey);
	border-radius: 7px;
	padding: 1rem;
	top: auto;
	right: 0;
	height: 4rem;
	width: 4rem;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image p {
	display: none;
	justify-content: space-between;
	font-size: 1.5rem;
	font-weight: 500;
	width: 100%;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image p * {
	margin-left: 0.5rem;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image p i {
	position: initial;
	font-size: 2rem;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image p img {
	width: 2.5rem;
	height: 2.5rem;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image .profile-picture-pen {
	position: initial;
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image p:hover {
	cursor: pointer;
	color: var(--light-grey);
}

.profile-component-content .user-infos-container .user-info-image .change-profile-image:hover p {
	animation: display-image-choices 0.6s linear forwards;
}

.profile-component-content .user-infos-container .user-info-image .expand-change-profile-image-size {
	cursor: initial;
	animation: expand-change-profile-image-size 0.3s ease forwards;
}

.profile-component-content .user-infos-container .user-info-image .reset-change-profile-image-size {
	animation: reset-change-profile-image-size 0.3s ease forwards;
}

.profile-component-content .user-infos-container .user-info-image .move-image-to-left {
	animation: move-image-to-left 0.3s ease forwards;
}

.profile-component-content .user-infos-container .user-info-image .reset-image-position {
	animation: reset-image-position 0.3s ease forwards;
}

@keyframes display-image-choices {
	0% {
		opacity: 0;
	}
	42% {
		opacity: 0;
	}
	62% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes expand-change-profile-image-size {
	0% {
		height: 4rem;
		width: 4rem;
	}
	100% {
		height: var(--choose-image-hover-height);
		width: var(--choose-image-hover-width);
	}
}

@keyframes reset-change-profile-image-size {
	0% {
		height: var(--choose-image-hover-height);
		width: var(--choose-image-hover-width);
	}
	100% {
		height: 4rem;
		width: 4rem;
	}
}


@keyframes reset-image-position {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes move-image-to-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}