.accept-friend-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    background-color: var(--neon-blue);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px 10px;
}

.accept-friend-button:hover {
    opacity: 0.8;
}

.accept-friend-button p {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin-right: 1rem;
}

.accept-friend-button img {
	width: 3.5rem;
	height: 3.5rem;
}

.accept-friend-button:hover {
    background-color: var(--neon-blue);
}