.cancel-friend-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    background-color: var(--neon-pink);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-friend-button p {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin-right: 1rem;
}

.cancel-friend-button img {
	width: 1.8rem;
	height: 1.8rem;
}

.cancel-friend-button:hover {
    background-color: var(--neon-pink);
}