friendship-button-component {
    display: flex;
    position: relative;
    top: -12.5rem;
    left: 61rem;
    text-align: center;
}

friendship-button-component:has(.accept-friend-button):has(.decline-friend-button) {
    flex-direction: column;
    top: 1.3rem;
}

friendship-button-component:has(.accept-friend-button):has(.decline-friend-button) > * {
    margin-top: 1rem;
}