@import "../../../_variables.css";

.matchmaking-choice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.matchmaking-choice p {
	font-size: 3rem;
	color: var();
	margin: 2rem 0;
	cursor: pointer;
}