.tournament-lost {
	position: relative;
	width: 100%;
	height: 100%;
}

.tournament-lost-title {
	font-size: 3rem;
	position: absolute;
	left: 50%;
	top: 17%;
	font-weight: 400;
	transform: translateX(-50%);
	animation: component-apparition 0.75s forwards;
	opacity: 0;
}

.tournament-lost-background {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60rem;
	height: 40rem;
	border-radius: 5px;
	background: linear-gradient(0, var(--neon-pink), var(--neon-blue));
	padding: 1px;
	animation: component-apparition 0.75s forwards;
	opacity: 0;
}

.tournament-match-content .countdown-container p.tournament-lost-countdown {
	font-size: 1.7rem;
	color: red;
	transform: translateX(-2%);
	margin-top: 1rem;
}

.countdown-container span {
	font-size: 1.7rem;
	margin: 0;
}

.tournament-lost-leave-btn { 
	background: none;
	color: red;
	font-size: 2.2rem;
	padding: 1rem 2rem;
	border: 1px solid red;
	border-radius: 5px;
	cursor: pointer;
}

.tournament-lost-leave-btn:active {
	scale: 0.98;
}
